@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./excalidraw.css";

/* regular */
@font-face {
  font-family: 'iA Writer Duo S';
  src: url('../fonts/iAWriterDuoS-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-04FF;
}

/* bold */
@font-face {
  font-family: 'iA Writer Duo S';
  src: url('../fonts/iAWriterDuoS-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-04FF;
}

/* bold italic */
@font-face {
  src: url('../fonts/iAWriterDuoS-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0000-04FF;
}

/* italic */
@font-face {
  font-family: 'iA Writer Duo S';
  src: url('../fonts/iAWriterDuoS-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0000-04FF;
}
